<ion-header>
  <ion-toolbar>
      <!-- <ion-button id="boton-museos" slot="end" href="/museos" color="primary"> Museos </ion-button> -->
      <ion-item>
        <ion-icon name="images-outline"></ion-icon>
        <ion-button id="boton-museos" slot="end" href="/museos" color="primary"> Museos </ion-button>
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item-sliding class="product-item" *ngFor="let p of products">
      <ion-item class="custom-item">
        <ion-thumbnail slot="start" class="custom-thumbnail">
          <img [src]="p.image" alt="{{ p.name }} Image" class="custom-img">
        </ion-thumbnail>
  
        <ion-label class="ion-text-wrap"> 
          <p class="description">{{ p.name }}</p>
        </ion-label>
      </ion-item>
      <!-- Opciones para cada publicacion -->
      <ion-item-options>
        <!-- Editar -->
        <ion-item-option (click)="addUpdateProduct(p)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>

        <!-- Eliminar -->
        <ion-item-option (click)="deleteProduct(p)" color="danger" >
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>
  
      </ion-item-options>



</ion-item-sliding>
</ion-card>



  <!---- nuevo producto ---->
<ion-fab  vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)=" addUpdateProduct()">
    <ion-icon name="camera-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>

<ion-button (click)="signOut()"  horizontal="end">
  Cerrar sesion
</ion-button>