<app-header [showMenu]="true" title="Inicio"></app-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-item-sliding class="product-item" *ngFor="let p of products">
      <ion-item class="custom-item">
        <ion-thumbnail slot="start" class="custom-thumbnail">
          <img [src]="p.image" alt="{{ p.name }} Image" class="custom-img">
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <p class="description">{{ p.name }}</p>
        </ion-label>
      </ion-item>
      <!-- Opciones para cada publicacion -->
      <ion-item-options>
        <!-- Editar -->
        <ion-item-option (click)="addUpdateProduct(p)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>

        <!-- Eliminar -->
        <ion-item-option (click)="deleteProduct(p)" color="danger">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>

      </ion-item-options>



    </ion-item-sliding>
  </ion-card>



  <!---- Nueva Publicacion ---->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)=" addUpdateProduct()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>