<app-header [showMenu]="true" title="Mis Publicacion"></app-header>

<ion-content>

  <!-- Funcion para actualizar la pagina -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding class="product-item" *ngFor="let p of products">
      <ion-item class="items">
        <ion-avatar>
          <img [src]="p.image">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <div class="name">{{p.name}}</div>
        </ion-label>
      </ion-item>


  <!-- Opciones para cada publicacion -->
      <ion-item-options>
        <!-- Editar -->
        <ion-item-option (click)="addUpdateProduct(p)"> <!-- abre 1 modal p se pasa como argumento de la lista products -->
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>

        <!-- Eliminar -->
        <ion-item-option (click)="deleteProduct(p)" color="danger" >
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>
  
      </ion-item-options>

    
    </ion-item-sliding>
  </ion-list>

  <!---- nuevo producto ---->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button (click)="addUpdateProduct()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>