<ion-menu contentId="menu-content" menuId="menu-content" side="start" >
  <app-header title="Menú"></app-header>
    
  
  <ion-content class="ion-text-center ">

    <ion-avatar > 
      <img *ngIf="user()?.image" [src]="user()?.image" /><!-- si hay imagen se muestra -->
      <ion-icon *ngIf="!user()?.image" class="empty-icon" name="person-circle-outline"></ion-icon><!-- Si no hay img empty img -->
    </ion-avatar>


      <h4>{{user()?.name}}</h4>
      

      <!-- 
      [ngClass] Si la expresión es verdadera, la clase 'active' se aplicará al elemento

      reouterDirection se utiliza para indicar que la página actual es la "raíz" de la navegación,-->
    <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
      <ion-item [ngClass]="{'active': currentPath === p.url}" [routerLink]="p.url" routerDirection="root" details>
        <ion-icon slot="start" [name]="p.icon"></ion-icon>
        <ion-label>{{p.title}}</ion-label>
      </ion-item>

    </ion-menu-toggle>
  </ion-content>

  <!-- CERRAR SESIÓN -->
  <ion-footer>
    <ion-menu-toggle auto-hide="false" >
      <ion-item (click)="signOut()" lines="none">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesion</ion-label>
      </ion-item>
  



    </ion-menu-toggle>  
  </ion-footer> 
</ion-menu>

<ion-router-outlet id="menu-content" main></ion-router-outlet>