
.text-center{
    justify-content: center;
    display: flex;
}

.icon-inner{
    width: 500px;
}

.image.icon{
    font-size: 200px;
    width: 350px;
    opacity: 40%;
}


// ion-avatar{
//     width: 500px;
//     height: 180px;
//     // --border-radius: 5px; //redondea la imagen
//     margin: 0 auto; //centra la imagen
// }