<app-header [isModal]=true [title]="product ? 'Actualizar' : 'Agregar'"></app-header>

<ion-content>
    <form [formGroup]="form" class="aut-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
        <!-- ----------Si es que existe una imagen-------- -->
        <!-- <ion-avatar *ngIf="form.value.image">
            <img [src]="form.value.image" />
        </ion-avatar> -->

        <!-- ----------Si es que existe una imagen-------- -->
        <ion-img *ngIf="form.value.image" 
            [src]="form.value.image"
            alt="Su imagen no esta disponible">
        </ion-img>

        <br>
        
        <!-- ----------SINO existe una imagen-------- -->
        <ion-icon class="image.icon" *ngIf="!form.value.image"  name="image-outline" style="font-size: 15rem; opacity: 30%; display: block; margin: 0 auto; text-align: center; line-height: 3rem">
        </ion-icon>
        
        <!------------SACAR O SELECCIONAR UNA FOTO------------ -->
        <ion-button class="text-center" (click)="takeImage()" mode="ios" size="small" shape="round">
            Tomar foto o seleccionar
        </ion-button>

        <!-- <div class="center"><app-logo></app-logo></div> -->
        <!-- -------------------- name -------------------- -->
        <app-custom-input [control]="form.controls.name" type="text" label="Descripcion"></app-custom-input>

        <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
            <div *ngIf="form.controls.name.errors?.['required']">Este campo es requerido</div>
            <div *ngIf="form.controls.name.errors?.['minlength']">La descripcion tiene un maximo de 280 caracteres</div>
        </div>

        <br>

        <div class="text-center">
            <ion-button mode="ios" class="espacio" type="submit" [disabled]="form.invalid">
                {{product ? 'Actualizar' : 'Agregar'}}
                <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
            </ion-button>
        </div>

    </form>

</ion-content>